#classicformpage .view {
    /* background-image: url('https://mdbootstrap.com/img/Photos/Others/images/91.jpg'); */
    background-image: url('../images/bg1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    margin-top: 5.4%;
  }
  
  #classicformpage .gradient {
    background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%));
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
    padding-top:6%;
  }
  
  #classicformpage .card {
    background-color: rgba(126, 123, 215, 0.2);
  }
  
  #classicformpage h6 {
    line-height: 1.7;
  }
  
  #classicformpage .navbar {
    transition: background .5s ease-in-out,padding .5s ease-in-out;
    background-color: #d31e44;
    /* background-color: black; */
  }
  
  #classicformpage .top-nav-collapse {
    background: #424f95 !important;
  }
  
  @media (max-width: 768px) {
    #classicformpage .navbar:not(.top-nav-collapse) {
        /* background: #424f95 !important; */
    background-color: #d31e44;

        
    }
   
  }
  
  #classicformpage label {
    /* color: #fff!important; */
  }
  .SimpleTabs-root-1{
    /* margin-top: 4%; */
  }
  span{
    color: black;
  }
 
.blue{
 background-color: #d31e44 !important;
 color: black !important;
}

.d-flex {
  width: 100%;
}
.MuiFormLabel-root{
  /* color:red !important; */
}
.MuiFormControl-root{
  width: 100%;
}
.btn{
  height: 56px !important;
}
.MuiTypography-body1{
  /* padding: 0px !important; */
}
.navbar-toggler{
  display: none;
}
.form-control{
  color:white !important;
}
#carasoul img{
  height: 600px;
}
.SpeedDials-root-1{
  position: absolute;
    top: 103%;
    left: 0%;
}
.SpeedDials-exampleWrapper-3 {
  height:0px !important;
}
#recentPost .card{
  box-shadow: none;
}
#accordion .card {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: none;
}
#accordion .z-depth-1-half {
  box-shadow: none !important;
}
.celled{
  box-shadow: 0px 3px 8px 3px rgba(0,0,0,0.1) !important;
  background-color: rgba(211,30,68,0.03);
  /* box-shadow: 0px 3px 8px 3px rgba(211,30,68,0.2) !important; */
}
.justifyContent{
  display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
#coverPhoto img{
  height: 40em;
}
#navigator{
  padding:1% 0;
  width: 100%;
  position: absolute;;
  z-index: 1001;
  top: 13%;
  background-color: #d31e44
}
#navigator li{
  list-style: none;
  padding: 1%;
  display: inline;
}
#navigator li a{
  color: white !important;
}
#navigator li a:hover{
  color: black !important;
  font-size: 101%;
  font-weight: bolder;
}
.MuiPaper-root{
  margin-top: 5.5% !important;
}

#postAccordion .card {
  background-color: rgba(255, 255, 255, 0) !important;
  box-shadow: none !important;
}
#postAccordion input {
  color: black !important;
}
#postAccordion .z-depth-1-half {
  box-shadow: none !important;
}



@media only screen and (max-width: 1024px) {
  #carasoul img{
    height: 5% !important ;
  }
  #coverPhoto img{
    height: 100% !important;
  }
}